.wrapper {
  .make-row();
}
.content-main {
  .make-lg-column(8);
}
.content-secondary {
  .make-lg-column(3);
  .make-lg-column-offset(1);
}


.input {
	width: 250px;
	height: 25px;
}

.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

.filebox input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}




/*

h1,h2,h3,h4,h5,h6 {
	margin: 20px;
	letter-spacing: 2px;
	color: rgb(220,20,60);	
}

a {
	color: rgb(220,20,60);
	text-decoration: none;
	
}
 
a:hover {
	color: rgb(173,255,47);
}

body {
	
	font-family: Tahoma, Geneva, sans-serif;

}

table {
	background-color: rgb(112,128,144);
	border-color: rgb(256,256,256);
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
	border-collapse:collapse;
	color: rgb(240,255,255);
	width: 700px;
	
}

table input {
	margin: 3px;

}

.input {
	width: 250px;
	height: 25px;
	
}

.inputbutton {
	background-color: rgb(45,129,147);
	border-style: solid;
	border-width: 0px;
	border-radius: 6px;
	width: 80px;
	height: 25px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: rgb(173,255,47);
	
}
.inputbutton:hover {
	background-color: rgb(220,20,60);

}

th {
	
	border-style: dashed;
	border-width: 1px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 11px;
	color: rgb(173,255,47);
	letter-spacing: 3px;
	

}

td {
	background-color: rgb(112,128,144);
	width: 350px;
	border-style: dashed;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin: 5px;

}

span {

}

center {

}

.button {
	background-color: rgb(105,105,105);
	color: rgb(173,255,47);
	width: 150px;

}

.button:hover {
	background-color: rgb(33,33,33);

}

.button:active {
	background-color: rgb(33,33,33);
	color: rgb(255,0,255);
} */