@CHARSET "UTF-8";

.container{
	width: 700px;
	margin: 20px 0px 0px 20px;
}
.form-group-hs{
	background-color: white;
	padding: 15px 15px 15px 15px;
	border: solid 1px #d0d0d0;
}
.must item{
	background-color: white;
	padding: 2px 0px 0px 2px;
	border: solid 1px #d0d0d0;
}


