@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 

html{
	width:100%;
	height:100%;
	position:relative;
}

body {
	font-family : 'Nanum Gothic',monospace;
	font-style : light; 
	background: #f8f8f8;
	
}

.images_main{
	width: 20px;
}

.main_logo{
	margin:0 auto;
	width:200px;
	height:156px;
	padding: 30px 15px;
}
.main_menu{
	z-index:3;
	position:absolute;
	background-color:#0059B3;
	/*background-color:#3399ff;*/
	width:200px;
	height:100%;
	min-height:800px;
	left:0;
	top:0;
	overflow:hidden;
}
/*로그인,가입*/
.main_sign{
	width: 200px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-top : solid 1px #004D99;
	border-bottom : solid 1px #004D99;
	overflow:hidden;
}
.main_login{
	float: left;
	width: 100px;
	height: 50px;
	margin-top: 2px;
	color: white;
	text-align: center;
	font-weight: 500;
	padding-top: 12px;
	border-right : solid 1px #004D99;
}
.main_singup{
	float: left;
	width: 100px;
	height: 50px;
	margin-top: 2px;
	color: white;
	text-align: center;
	font-weight: 500;
	padding-top: 12px;
}
/*로그온 상태*/
.main_logon {
	position: relative;
}
.main_logon>span {
	color:white;
	display:block;
}
.main_logon>span:FIRST-CHILD{
	margin-top:12px;
	padding-left:50px;
	position:absolute;
}
.main_logon>span:nth-child(2){
	font-size: 1.5em;
	position:absolute;
	top:13px;
	left:137px;
}
/*메인페이지*/
.main_page{
	position:absolute;
	left:200px;
	height:100%;
}
/*선택메뉴*/
.main_sub{
	padding-top : 50px;
	height:100%;
}
.main_submanu{
	width: 200px;
	height: 30px;
	padding-left:50px;
	padding-top: 2px;
	margin-bottom: 30px;
	color: white;
	text-align: left;
	font-weight: 500;
}
.main_submanu>img {
	margin-right : 10px;
}
/* 선택메뉴-Git */
.main_submanu:last-child{
	position:absolute;
	bottom:10px;
}
/* 선택 상세메뉴 */
.main_menu2{
	background:#ffffff;
	position:absolute;
	z-index:0;
	top:0;
	left:50px;
	width:149px;
	height:100%;
	min-height:800px;
	border-right : solid 1px #CCCCCC;
	overflow:hidden;
}
.main_menu2>h3 {
	margin : 40px 20px;
}
.main_menu2>a{
	line-height:0.8em;
	color:black;
	display:block;
	margin:20px 20px 20px 20px;
}

@media screen and (max-width:768px) {

}



