@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 

html{
	width:100%;
	height:100%;
	position:relative;
}

body {
	font-family: 'Nanum Gothic',monospace;
	background: #f8f8f8;
	
}

.images_main{
	width: 20px;
}

.main_logo{
	margin:0 auto;
	width:200px;
	height:156px;
	padding: 30px 15px;
}
.main_menu{
	z-index:3;
	position:absolute;
	background-color:#3399ff;
	width:200px;
	height:100%;
	min-height:800px;
	left:0;
	top:0;
	overflow:hidden;
}
/*로그인,가입*/
.main_sign{
	width: 150px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.main_login{
	float: left;
	width: 75px;
	height: 50px;
	margin-top: 2px;
	color: white;
	text-align: center;
	font-weight: 500;
}
.main_singup{
	float: left;
	width: 75px;
	height: 50px;
	margin-top: 2px;
	color: white;
	text-align: center;
	font-weight: 500;
}
/*메인페이지*/
.main_page{
	position:absolute;
	left:200px;
	height:100%;
}
/*선택메뉴*/
.main_sub{
	height:100%;
}
.main_submanu{
	width: 150px;
	height: 30px;
	margin-top: 2px;
	margin-bottom: 2px;
	color: white;
	text-align: center;
	font-weight: bold;
}
/* 선택메뉴-Git */
.main_submanu:last-child{
	position:absolute;
	bottom:10px;
}
/* 선택 상세메뉴 */
.main_menu2{
	background:#ffffff;
	position:absolute;
	padding-top:200px;
	z-index:0;
	top:0;
	left:50px;
	width:150px;
	height:100%;
	min-height:600px;
	overflow:hidden;
}
.main_menu2 a{
	color:black;
	display:block;
	margin:20px 20px 20px 20px;
}



