@CHARSET "UTF-8";

.form-control_hs {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
/* 페이지 전체 크기  */
.recruit_mainsize{
	width : 750px;
	height : 100%;
	margin : 30px;
	background-color: white;
}
/* 큰 단위의 크기 (근무조건, 지원자격, 담당자, 입력폼) */
.recruit_size{
	margin : 10px;
}
/* 작은 사이즈의 크기 (각 큰단위 아래 작은 크기 */
.recruit_minisize{
	padding-bottom: 5px;
}

/* 게시판폼에 '글쓰기','상세검색' 버튼 모양 */
.btn-success_hs{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin : 0px 5px 0px 5px;
}
.btn_hs{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.panel {
	margin-bottom : 0px;
	border-radius : 0px 0px 0px 0px;
	
}
.panel-default {
	width:700px;
	margin-left:25px;
}
.recruit_mainsize {
	width : 750px;
	padding : 0px;
}
.recruit_contentsize {
	width : 750px;
	padding : 0px;
}
.comptext {
	padding-top : 60px;
	padding-left : 50px;
	padding-right : 50px;
	padding-bottom : 60px;
}
.comptext table, .business table {
	font-family: 돋움;
	font-size : 0.9em;
}
.comptitle {
	width:100%;
	height:100px;
	margin-bottom:50px;
	padding-left:0px;
	background-color : gray;
}
.comptitle span {
	display:block;
	padding-top : 18px;
	font-size : 0.8em;
	float:left;
}
.comptitle span:FIRST-CHILD {
	float:none;
}
.comptitle span:nth-child(2) {
	height:45px;
	vertical-align: bottom;
}
.comptitle h2 {
	float:left;
	padding : 0;
	margin : 0;
	height:45px;
}
.comptext tr, .business tr {
	line-height : 1.5em;
}
.comptext th, .business th {
	width:90px;
}
.comptext td, .business td {
	padding-left:10px;
	width: 220px;
}
.business {
	width:750px;
	padding-left:80px;
	height: 280px;
	margin-bottom:50px;
}
.business div{
	float:left;
}
.middle {
	margin-top: 50px;
	margin-bottom : 50px;
	width:100%;
	height:200px;
}
.middle>div {
	padding-top:20px;
	float:left;
	width:25%;
	height:100px;
	text-align:center;
}
.middle>div:nth-child(1) {
	background:#5CA1E6;
}
.middle>div:nth-child(2) {
	background:#79B6F2;
}
.middle>div:nth-child(3) {
	background:#5CA1E6;
}
.middle>div:nth-child(4) {
	background:#79B6F2;
}
.middle>div:nth-child(5) {
	background:#79B6F2;
}
.middle>div:nth-child(6) {
	background:#5CA1E6;
}
.middle>div:nth-child(7) {
	background:#79B6F2;
}
.middle>div:nth-child(8) {
	background:#5CA1E6;
}
.span{
	display:block;
	color : white;
	font-size:1.5em;
	font-style:bold;
}
.recruittext {
	
}














