/* 부트스트랩 사용 CSS*/
@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 



#join {
	background: #f8f8f8;
}

#join form {
	margin-left: 100px;
	margin-top: 50px;
	width: 700px;   
	height: 600px;
}
.table {
	background : white;
	width:400px;
	
}
.table th {
	text-align: right;
}
.table-button {
	text-align : center;
}
.view-th {
	width:100px;
}
.emailcode {
	width: 30%;
	margin-right:5px;
	float: left;
}








